*.DS_Store
.DS_Store
**/.DS_Store

__pycache__/
*.py[cod]
*$py.class

.env/
.env/*

.idea/
.idea/*


.tabular/
tabular/
tabular/
tabular/*
tabular/**



.q_models/
q_models/
q_models/
q_models/*
q_models/**


.levels/
levels/
levels/
levels/*
levels/**


.losses/
losses/
losses/
losses/*
losses/**


.Graphs/
Graphs/
Graphs/
Graphs/*
Graphs/**